@keyframes targetanim
	from
		background-color: #ffc
	to
		background-color: transparent

$monofonts = Consolas, Courier, monospace
$sansserifs = 'Noto Sans CJK KR', 'Noto Sans Korean', 'Malgun Gothic', 'Noto Sans', 'Segoe UI', sans-serif
$serifs = 'Malgun Gothic', 'Segoe UI', serif

html, body
	width: 100%
	color: #333
main
	font-family: $serifs
	line-height: 1.5
	font-size: 1rem
	max-width: 1000px
	margin 0 auto
	padding 1px 1em

// title
header-deco($color, $name)
	main.tag-{$name} header, section>header.tag-{$name}
			border-bottom-color: $color
			&:after
				content: '/' + $name + '/'
				position: absolute
				right: 0
				bottom: 0
				font-size: 1rem
				padding-right: .5rem
				font-family: $monofonts
				color: $color
	main.tag-{$name}
		h1, h2
			border-bottom-color: $color

header
	//text-align: center
	display: block
	position: relative
	width: 100%
	font-family: $sansserifs
	border-bottom: 3px solid #ff4567
	padding: 6px
	font-weight: 100
	font-size: 2rem
	padding-top: 1.5rem
	box-sizing: border-box

header-deco(#72ddcf, 'haskell')
header-deco(#ccc, 'test')

// target
*:target
	background-color: #ffc
	animation: 10s ease-in 3s targetanim forwards

// H1 ~ H6
h1, h2, h3, h4, h5, h6
	margin-top: 24px
	margin-bottom: 16px
	font-weight: bold
	line-height: 1.25
	font-family: $sansserifs
	&>a.self
		color: #666
		text-decoration: none
		transition: color .3s, opacity .3s
		position: absolute
		margin-left: -1em
		opacity: 0
		&:hover
			color: #4362dc
	&:hover>a.self
		opacity: 1
h1, h2
	border-bottom: 2px solid #eee
	padding-bottom: .3em
	font-weight: 300
h1
	font-size: 2em
h2
	font-size: 1.5em
h3
	font-size: 1.25em
h4
	font-size: 1em
h5
	font-size: .875em
h6
	font-size: .85em

// list spacing
li
	margin-top: .4em
	margin-bottom: .4em
	padding-left .5em
ul, ol
	padding: 0 2em

// anchor
a
	text-decoration: none
	color: #0078AD
	&:hover
		text-decoration: underline
		color: #006188

// cite
cite
	font-style: normal
	font-size: .9em
	&:before
		content: '['
	&:after
		content: ']'

// quote
// from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote
	background: #eee
	border-left: 10px solid #ccc
	margin: 1.5em 30px
	padding: 1em
	&:before
		content: "\201C"
		font-size: 4em
		line-height: 0.1em
		margin-right: 0.1em
		vertical-align: -0.4em
		color: #ccc
		font-family: Arial, serif
	p
		display inline

// table
table
	border-collapse: collapse
	border-spacing: 0
th, td
	border: 1px solid #ccc
	padding 6px 1em

// emphasis
small, b, strong
	font-family: $sansserifs
b, strong
	color: #000
	i, em
		color: #333
i, em
	color: #666

// math
math
	font-size: 1.25em
	&[display=block]
		padding: .3em 0
		background-color: #fcfcfc


// source code
div.sourceCode
	overflow-x: auto

code
	font-size: 1rem
	font-family: $monofonts
	line-height: 125%

pre>code.hljs
	padding: 1rem
	margin: -10px

pre
	padding 10px
	margin 10px 0
	background-color: #f0f0f0

code:not(.hljs)
	background-color: #f0f0f0
